body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	width: 100%;
}

ul {
	list-style: none;
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

	.hourse {
		width: 100%;
		height: 100%;
	}

	.logo {
		width: 21%;
	}

	.forests-offers {

	}

	.first-forest-img {
		width: 50%;
		height: 100%; 
	}

	.second-forest-img {
		width: 50%;
		height: 100%;
	}

	.first-mobile-offer {
		width: 100%;
		height: 400px;
	}

	.image-inner1 {
		width: 50%;
		height: 400px;
	}

	.first-mobile-img {
		width: 35%;
		margin-left: 40%;
		margin-top: 130px;
	}

	.mobile-text-inner1 {
		width: 50%;
	}

	.second-mobile-offer {
		width: 100%;
		height: 400px;
	}

	.image-inner2 {
		width: 50%;
		height: 400px;
	}

	.second-mobile-img {
		margin-left: 25%;
		margin-top: 0;
		width: 35%;
	}

	.mobile-text-inner2 {
		width: 50%;
	}

	.totals {
		height: 400px;
		background-size: 130%;
		background-height: 100%;
	}

	.totals-inner {
		width: 50%;
		height: 100%;
		margin-left: auto;
	}

	.footer-img {
		width: 100%;
		height: 800px;
	}

	.btn {
		width: 180px;
		height: 35px;
		border-radius: 25px;
		font-size: 14px;
	}

	.btn-bars {
		margin-top: 165px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.navigation-elements {
		padding: 0;
		margin-top: -140px;
		margin-bottom: 100px;
	}

	.logo {
		height: 240px;
		width: 240px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		box-shadow: 0px 0px 290px lightgray;
	}

	.logo-title {
		font-size: 26px;
		padding-top: 165px;
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.logo-discription {
		display: block;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-weight: bold;
		font-size: 11px;
	}

	.main-title {
		font-size: 38px;
		margin-bottom: 0;
	}

	.main-discription {
		margin-top: 10px;
		margin-bottom: 80px;
	}
	
	.btn1 {
		font-size: 11px;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.content-discription {
		margin-top: -180px;
		font-size: 16px;
	}

	.content-title {
		margin-top: 10px;
		font-size: 38px;
	}

	.content-property-icon {
		width: 55px;
		height: 55px;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.property-inner {
		margin-left: auto;
		margin-right: auto;
		width: 81%;
	}

	.content-property {
		height: 300px;
		width: 20%;
		margin-left: 3%;
		margin-right: 3%;
	}
	
	.content-property-title {
		margin: 0;
		margin-bottom: 30px;
		font-size: 16px;
	}

	.content-property-discription {
		font-size: 14px;
		width: 200px;
		margin: 0;
	}

	.btn2 {
		margin-bottom: 80px;
	}

	.forest-offer-inner1 {
		width: 100%;
	}

	.first-forest-title {
		margin-top: 15%;
		margin-left: 15%;
		margin-right: auto;
		width: 380px;
		text-align: left;
		font-size: 38px;
	}

	.first-forest-discription {
		margin-left: 15%;
		width: 380px;
		text-align: left;
		font-size: 15px;
		line-height: 35px;
		margin-bottom: auto;
	}

	.forest-offer-inner2 {
		width: 100%;
	}

	.second-forest-title {
		margin-top: 15%;
		margin-left: 22%;
		width: 380px;
		text-align: left;
		font-size: 38px;
	}

	.second-forest-discription {
		margin-left: 22%;
		margin-bottom: auto;
		width: 380px;
		text-align: left;
		font-size: 15px;
		line-height: 35px;
	}

	.image-inner1 {
		height: 100%;
		background-size: 65%;
		background-position: 0 -100px;
	}

	.first-mobile-offer {
		height: 600px;
	}

	.first-mobile-title {
		width: 380px;
		font-size: 38px;
		margin-left: 3%;
		margin-top: 25%;
	}

	.first-mobile-discription {
		width: 380px;
		margin-left: 3%;
		font-size: 15px;
		line-height: 35px;
	}

	.image-inner2 {
		height: 100%;
		background-size: 65%;
		background-position: 300px 120px;
	}

	.second-mobile-offer {
		height: 480px;
	}

	.second-mobile-title {
		width: 380px;
		font-size: 38px;
		margin-left: auto;
		margin-right: 3%;
		margin-top: 12%;
	}

	.second-mobile-discription {
		width: 380px;
		margin-right: 3%;
		margin-left: auto;
		font-size: 15px;
		line-height: 35px;
	}
	
	.totals-title {
		margin-top: 0;
		padding-top: 18%;
		margin-bottom: 10px;
		font-size: 38px;
		width: 380px;
	}

	.totals-discription {
		width: 380px;
		font-size: 15px;
		line-height: 25px;
	}

	.totals-contacts {
		margin-top: 20px;
		display: block;
		width: 380px;
	}

	.contacts-title {
		font-size: 15px;
		margin-top: 0;
		margin-bottom: 0px;
	}

	.contacts-discription {
		margin-top: 0;
		font-size: 15px;
	}

	.footer-content {
		margin-top: 100px;
		font-style: 16px;
		margin-bottom: 100px;
	}

	.footer-content-title {
		margin-top: 8px;
		font-size: 38px;
	}

	.footer-content-discription {
		margin-bottom: 8px;
	}

	.btn3 {

	}

}

.navigation-elements {
	/*height: 60px;
	width: 1500px;
	margin-top: 60px;*/
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}


.main-navigation {
	/*height: 207px;
	margin-bottom: 170px;*/
}

.navigation-element {
	/*margin-left: 30px;
	margin-right: 30px;*/
}

.logo {

}

.logo-discription {
	/*margin-top: -12px;
	font-size: 18px;*/
	color: lightgray;
}

.logo-title {
	/*font-size: 48px;*/
	font-weight: bold;
	color: #43A9FF;
}

.main-title {
	/*font-size: 48px;*/
	text-align: center;
}

.main-discription {
	/*font-size: 18px;*/
	text-align: center;
	color: lightgray;
}

.image {
	/*width: 100%;
	height: 1332px;*/
	opacity: 1;
}

.btn {
	/*width: 230px;
	height: 50px;
	border-radius: 25px;
	font-size: 20px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: none;
	color: #43A9FF;
	display: block;
	box-shadow: 0px 0px 80px lightgrey;
	font-weight: bolder;
}

.btn1 {
	/*margin-top: 80px;*/
}

.content-title-wrapper {
	/*width: 1500px;
	margin-top: -250px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.content-discription {
	/*font-size: 18px;*/
	color: lightgray;
}

.content-title {
	/*margin-top: 10px;
	margin-bottom: 100px;
	font-size: 48px;*/
	color: black;
}

.property-inner {
	/*width: 1500px;*/
	display: flex;
	justify-content: space-around;
}

.content-property {
	/*width: 350px;
	min-height: 260px;
	margin-right: 30px;*/
}

.content-property-icon {
	/*width: 60px;
	height: 60px;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.content-property-title {
	/*margin-top: 35px;
	margin-bottom: 35px;*/
	text-align: center;
}

.content-property-discription {
	/*width: 200px;
	font-size: 14px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: lightgray; 
}

.icon1 {
	background-image: url(img/icon1.png);
	background-position: center, center;
	background-repeat: no-repeat;
}

.icon2 {
	background-image: url(img/icon2.png);
	background-position: center, center;
	background-repeat: no-repeat;
}

.icon3 {
	background-image: url(img/icon3.png);
	background-position: center, center;
	background-repeat: no-repeat;
}

.icon4 {
	background-image: url(img/icon4.png);
	background-position: center, center;
	background-repeat: no-repeat;
}

.btn2 {
	/*margin-bottom: 125px;*/
}

.forests-offers {
	/* height: 1124px;
	width: 2000px; */
}

.first-forest-offer {
	display: flex;
}

.forest-offer-inner1 {
	/*padding-right: 250px;*/
	background-color: #F7F8FB;
}

.forest-offer-inner2 {
	background-color: #F7F8FB;
}

.first-forest-title {
	/*margin-top: 190px;
	margin-bottom: 40px;
	font-size: 48px;*/
}

.first-forest-discription {
	/*padding-left: 180px;
	padding-right: 180px;
	font-size: 16px;
	line-height: 36px;*/
	color: lightgray;
}


.second-forest-offer {
	display: flex;
	flex-direction: row-reverse;
}
.second-forest-title {
	/*margin-top: 190px;
	margin-bottom: 40px;
	font-size: 48px;*/
}

.second-forest-discription {
	/*padding-left: 310px;
	padding-right: 300px;
	font-size: 16px;
	line-height: 36px;*/
	color: lightgray;
}

.first-mobile-offer {
	/*width: 2000px;
	height: 1000px;*/
	display: flex;
	background-color: white;
}

.image-inner1 {
	/*width: 985px;
	height: 1000px;
	background-position: 50px -100px;*/
	background-image: url(img/Snowflake.png);
	background-repeat: no-repeat;
}

.first-mobile-img {
	/*margin-top: 160px;
	margin-left: 400px;*/
/*	margin-left: 40%;
	margin-right: 25%;
	margin-top: 8%;*/
}

.mobile-text-inner1 {
	/*width: 1015px;
	height: 100%;*/
}

.first-mobile-title {
	/*font-size: 48px;
	margin-top: 380px;
	margin-left: 50px;*/
	color: #43A9FF;
}

.first-mobile-discription {
	/*font-size: 16px;
	line-height: 36px;
	margin-left: 150px;
	margin-top: 40px;
	width: 400px;*/
	color: lightgray;
}

.second-mobile-offer {
	/*width: 2000px;
	height: 800px;*/
	background-color: white;
	display: flex;
	flex-direction: row-reverse;
}

.mobile-text-inner2 {
	/*width: 985px;
	height: 800px;*/
}

.second-mobile-img {
/*	margin-left: 25%;
	margin-right: 40%;*/
}

.image-inner2 {
	/*width: 1015px;
	height: 100%;
	background-position: 350px 200px;*/
	background-image: url(img/Snowflake2.png);
	background-repeat: no-repeat;
}

.second-mobile-title {
	/*margin-top: 190px;
	margin-left: 450px;
	font-size: 48px;*/
	color: #43A9FF;

}

.second-mobile-discription {
	/*font-size: 16px;
	line-height: 36px;
	margin-left: 450px;
	width: 400px;*/
	color: lightgray;
}

.totals {
	/*width: 2000px;
	height: 430px;
	padding-top: 200px;*/
	background-image: url(img/human.jpg);
	/*background-size: 100%;*/
	background-repeat: no-repeat;
}

.totals-inner {
	/*margin-left: 1025px;
	height: 400px;*/
}

.totals-title {
	/*margin-bottom: 40px;
	font-size: 48px;*/
	color: #FE3254;
}

.totals-discription {
	/*font-size: 16px;
	line-height: 36px;
	width: 400px;
	margin-bottom: 80px;*/
	color: lightgray;
}

.contacts-title {
	/*height: 20px;
	width: 400px;
	font-size: 16px;
	margin-bottom: 0px;*/
	display: block;
	color: black;
}

.contacts-discription {
	/*height: 20px;
	width: 400px;
	margin-top: -10px;
	font-size: 16px;*/
	color: lightgray;
	display: block;
}

.footer-content {
	/*margin-top: 130px;
	width: 720px;
	height: 100px;*/
	margin-left: auto;
	margin-right: auto;
}

.footer-content-discription {
	/*font-size: 18px;*/
	color: lightgray;
	text-align: center;
}

.footer-content-title {
	/*font-size: 48px;*/
	text-align: center;
	color: black;
}

.footer-img {
	/*height: 1240px;
	width: 2000px;
	padding-top: 90px;*/
	background-image: url(img/PhotoLast.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.btn-bars {
	/*width: 60px;
	height: 60px;
	border-radius: 50%;*/
	border: none;
	box-shadow: 0px 0px 60px lightgrey;
}

.fas {
	/*font-size: 20px;*/
	color: black;
}